.detail__card{
    margin: 0 auto;
    width: 70%;
    -webkit-box-shadow: 4px 4px 24px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 24px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 24px 0px rgba(34, 60, 80, 0.2);
}
.img__and-details{
    display: flex;
    justify-content: space-around;
}
.image{
    min-width: 50%;
}
.details{
    padding: 20px;
}